body {
    background-color: lightgray;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

#customBody{
    margin-left: 10px;
}

#profilePic {
    width: 180px;
}

#divPP {
    height: 200;
    width: 220px;
    float:left;
}

#h2title {
    margin-top: 45;
    margin-bottom: 90px;
    display:inline-block;
    /* width: 300px; */
}