<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Naël Juston{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicons/scroll.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        
        <div id='menuBar'>
            <a id='button' href='/'>Home</a>
            <a id='button' href='/'>Rubik's pattern</a>
        </div>


    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
